                        /*code css pour le desktop*/
                        /*code css pour le desktop*/
 *{
  box-sizing: border-box;
 }

 body{
  max-width: 1400px;
  margin: auto;
 }

  body #en-tete #contenu-principal #pied-de-page{            /*résolution de la taille minimale et maximale*/
    max-width: 100%; 
  }

  #en-tete{
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 40px;
    max-width: 100%;
  }

  /*Ci-dessous sont regrupés le code de la police css qui se répète plusieurs fois*/
  
  #bouton, #filtre, #saisie, #afficher-plus, #pied-de-page h1{
    font-family: 'Raleway' ,  sans-serif;
    font-weight: 700;
    font-size: 1.125em;
  }
  
  #contenu-principal h1{
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 1.375em;
  }

  h2{
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 1em;
    color:black;
  }
  
  p,li{
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 1em;
    color:black;
  }

  #cartes-hebergements-et-populaires p{
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 0.875em;
    color:black;
  }

  /* Partie en-tête de ma page avec le logo et la barre de navigation*/
  .logo{
    width : 70px;
  } 

  nav ul{
    display: flex;
    padding: 0;
    margin: 0;
  }

  li{
    list-style-type: none;
  }

  nav li{
    margin: 0;
    padding: 0;
  }

  nav a{
    text-align: center;
    padding: 0 30px;
  }

  a{
    color: inherit;
    text-decoration: none;
  }

  nav a{
    font-family: 'Raleway', sans-serif;
    text-decoration: none;
    font-weight: 500;
    font-size: 1em;
    color:black;
  }


   nav a:hover{
    border-top: 2px solid #0065FC;
    color: #0065FC;
    padding-top: 38px;
  }


  /*Partie du corps de ma page avec 3 sections*/
  #contenu-principal{
    margin : 63px 0px 60px 0px;
    max-width: 100%;
  }

  /*Première section*/
  #recherche-et-filtres p{
    margin: 0px 0px 30px 0px;  
    max-width:100%;
  }

  #barre-de-recherche{   /*  cadre de la zone de recherche  */
    display: flex;
    margin-bottom: 30px;  /* marge en bas du cadre de la zone de recherche espacée de 25px par rapport à l'élément du dessous zone des filtres  */
  }

  #barre-loupe{
    display: none;
  }

   #icone-localisation{ 
    position: relative;
    width: 50px;
    height: 49px;
    background-color: #F2F2F2;
    border: 1px solid #F2F2F2;
    border-radius: 15px 0px 0px 15px;
  }

  .fa-location-dot{
    position:absolute;
    padding: 15px 0px 0px 18px;
    font-size: 1.2em;
  }

  #saisie{     /*ici la zone de la saisie de notre recherche de la ville de notre hébergement*/
    width:280px;
    height: 49px;
    margin-top: 0px; /* marge en haut de 0px */
    border: 1px solid #F2F2F2;
  }

  input:focus {    /*Retire l'encadrement bleu de la zone de saisie*/
    outline:  none;
  }
  
  #bouton{    /* bouton cliquable pour valider notre recherche */
    width: 132px;
    height: 49px;
    margin-top: 0px;  /* marge en haut de 0px */
    color:#FFFFFF;
    background-color:#0065FC;
    border: 1px solid #0065FC;
    border-radius: 0px 15px 15px 0px;
  }

  .fa-magnifying-glass{
    color: #FFFFFF;
    font-size: 2.6em;
  }

  #bouton:hover{  /*Remplace la flèche par une main au passage de la sourie sur le bouton rechercher*/
    cursor: pointer;
  }

  #zone-des-filtres{ /*  cadre de la zone des filtres*/
    display:flex;  /* on utilise flexbox pour que la zone des filtres se mette en ligne */
    flex-direction: row;  /*les éléments sont en ligne, par défault*/
    align-items: center;
    margin: 0px 0px 40px 10px;
  }

  #separateur-boutons-filtres{
    display: flex;
    max-width: 100%;
  }

  #filtre{
    margin-right: 35px;  /* marge à droite pour espacer les boutons de filtres du titre filtre*/
  }
  
  .boutons-des-filtres{
    margin-right: 60px;
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 1em;
    border: 2px solid #D9D9D9;
    border-radius: 25px;
    background : #FFFFFF;
    height: 38px;
    width: 170px;
  }

  .boutons-des-filtres:hover{
    background-color: #DEEBFF;
    cursor: pointer;
  }

  #familial{
    width: 140px;
  } 
    
  #animauxautorises{
    width: 220px;
  }

  button i{
    color:#0065FC;
    font-size: 1.1em;
    padding-right: 5px;
  }
  
  .fa-info{
    color: #0065FC;
    font-size: 0.7em;
    border: 1px solid #D9D9D9;
    border-radius: 20px;
    margin: 0px 10px 10px 10px;
    padding: 6px 10px 6px 10px;
  }

  /*Deuxième section*/
  #bloc-hebergements{
    margin: 0px 0px 40px 0px;
    padding: 8px 35px 0px 35px;
    background: #F2F2F2;
    border-radius: 20px;
    max-width: 70%;
  }

  #bloc-hebergements h1{
    padding-left: 8px;
  }

  .disposition-cartes-hebergements{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-left: 0px;
  }

  .cartes-hebergements{
    background-color: #FFFFFF;
    border-radius: 20px;
    margin-bottom: 30px;
    width: 30%;
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.1);
  }

  .cartes-hebergements img{
    width: 100%;
    height: 135px;
    object-fit: cover;
    border: 5px solid #FFFFFF;
    border-radius: 20px 20px 0px 0px;
  }

  .informations-hebergements{
    text-decoration: none;
    padding-left: 13px;
    margin-bottom: 7px;
  }

  .informations-hebergements h2,.informations-hebergements p{
    margin: 0px;
    padding-bottom: 2px;
  }

  #afficher-plus{
    padding: 8px 0px 18px 0px;
  }

  .cartes-hebergements a{
    text-decoration: none;
  }

  #afficher-plus a{
    text-decoration: none;
    color: #000000;
  }

  #bloc-populaires{
    margin: 0px 0px 40px 25px;
    padding: 8px 36px 0px 30px;
    background: #F2F2F2;
    border-radius: 20px;
    width: 28%;
  }

  #bloc-populaires h1{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 8px;
  }

  .fa-chart-line{
    color: #0065FC;
    font-size: 0.8em;
  }

  .disposition-cartes-populaires{
    display: flex;
    flex-direction: column;
    padding-left: 0px;
  }

  .cartes-populaires{
    background-color: #FFFFFF;
    border-radius: 20px;
    margin-bottom: 35px;
    height: 35%;
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.1);
  }

  .cartes-populaires img{
    width: 35%;
    height: 133px;
    object-fit: cover;
    border: 5px solid #FFFFFF;
    border-radius: 20px 0px 0px 20px;
    margin-bottom: 1px;
  }

  .informations-populaires{
    position: relative;
    text-decoration: none;
    padding-left: 12px;
  }

  .informations-populaires h2{
    margin: 0px;
    padding: 13px 0 4px 0px;
   }

  .informations-populaires p{
    margin:0px;
    padding-bottom: 2px;
  }

  .cartes-populaires a{
    text-decoration: none;
    display: flex;
  }

  .fa-star{
    color:#0065FC;   
    font-size: 0.8em;
  }

  .etoiles-populaires{
    position: absolute;
    bottom: 10px;
  }

  .fa-star:last-child{
    color: #D9D9D9;
  }

  #cartes-hebergements-et-populaires{
    display: flex;
 }

  /*Troisième section*/
  #bloc-activites{
    margin: 0px 0px 40px 0px;
    padding-top: 8px ;
    max-width: 100%;
    height: 50%;
  }

  #bloc-activites h1{
    padding-left: 8px;
  }

  .disposition-cartes-activites{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
  }

  .cartes-activites{
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.1);
    border-radius: 20px;  /*arrondie des cards activites*/
    width: 23%;   /*largeur des cards activités*/
  }

  .cartes-activites img{
    width: 100%;
    height: 88%;
    object-fit: cover;
    border-radius: 20px 20px 0px 0px;
  }

  .cartes-activites a{
    text-decoration: none;
  }

  .informations-activites{
    background: #FFFFFF;
    border-radius: 0px 0px 20px 20px;
  }

  .informations-activites h2{
    padding-left: 7px;
  }

  #pied-de-page{
    background-color: #F2F2F2;
    display: flex;
    flex-direction: row;
    padding: 30px 0px 50px 50px;
    max-width: 100%;
  }

  #pied-de-page ul{
    padding-left: 0px;
  }

  #pied-de-page li{
    list-style-type: none;
    padding-bottom: 10px;
  }

  .bloc-pied-de-page{
    display: flex;
    flex-direction: column;
    padding-right: 200px;
  }



              /*Responsive design : Média queries*/

                  /*média query pour Tablette*/
                  /*média query pour Tablette*/

  @media screen and (min-width : 768px) and (max-width : 992px) {
    
    body{     
      max-width: 992px;
     
    }       
     
    #recherche-et-filtres{
      max-width: 100%;
      margin-left: 15px;
    }

    #zone-des-filtres{
      margin: 0px 0px 40px 0px;
    }

    #separateur-boutons-filtres{
      margin-right: 25px;
      max-width: 95%;
    }

    .boutons-des-filtres{
      margin-right: 40px;
      font-size: 0.830em;
    }

    button i{
      font-size: 0.875em;
    }

    #filtre{
      margin-right: 20px;  
    }
    
    #cartes-hebergements-et-populaires{
      flex-direction: column;
      margin-left: 15px;
    }

    #bloc-hebergements{
      max-width: 100%;
    }
    
    .disposition-cartes-populaires{
      justify-content: space-between;
      flex-direction: row;
    }

    .cartes-populaires {
      width: 30%;
      margin-right: 10px;
    }

    #bloc-populaires{
      width: 100%;
      height: 40%;
      margin-left: 0px;
    }
     
    .cartes-activites img{
      height: 85%;
    }

    #bloc-activites{
      max-width: 100%;
      padding-top: 0px;
      margin-left: 15px;
    }

    #pied-de-page{
      justify-content: space-around;
      padding:0px;
      margin-left: 20px;
      max-width: 100%;
    }

    .bloc-pied-de-page{
      padding-right: 0px;
      
    }
    }



 
              /*média query pour téléphone portable*/
              /*média query pour téléphone portable*/

    @media screen and (max-width : 767px) {

      body{
        max-width: 768px;
       }

      body #en-tete{
        height: 265px;
        padding: 0;
        flex-direction: column;
        text-align: center;
        max-width: 100%;
        margin: 0;
      }
    
      .logo {
        width: 35%;
        padding: 40px 30px 0px 30px;
      }
      
      nav{
        width: 100%;
        text-align: center;
      }

      nav li {
        flex-basis: 100%;
      }

      nav a {
        display: block;
        font-size: xx-large;
        border-bottom: 3px solid #F2F2F2;
        padding-bottom: 25px;
        margin: 0;
      }

      nav a:hover{
        border-top: 0;
        border-color: #0065FC;
        margin: 0;
        padding: 0 0 25px 0;
      }

      #contenu-principal{
        margin : 30px 0px 0px 0px;
        width: 100%;
      }

      #contenu-principal h1{
        font-size: 2.6em;
        margin-bottom: 30px;
      }

      p{
        font-size: 1.8em;
      }

      #recherche-et-filtres{
        margin: 80px 20px 58px 45px;
      }
      
      #barre-de-recherche{
        display: none;
      }

      #barre-loupe{   /*zone de recherche  */
        display: flex;
        max-width: 98%;
        margin: 70px 0px 60px 0px; 
      }

      .fa-location-dot{
        padding: 24px 0px 0px 35px; 
        font-size: 2.25em;
      }
    
      #saisie-loupe{     /*ici la zone de la saisie de notre recherche de la ville de notre hébergement*/
        width:100%;
        height: 90px;
        font-size: 2.8em;
        padding-left: 30px;
        background-color: #FFFFFF;
        border: 2px solid #F2F2F2;
        border-left: 90px solid #F2F2F2;
        border-radius: 38px 0px 0px 38px;
      }
    
      #loupe{    /* bouton cliquable pour valider notre recherche */
        width: 100px;
        height: 90px;
        margin-top: 0px;  /* marge en haut de 0px */
        background-color:#0065FC;
        border: 1px solid #0065FC;
        border-radius: 0px 38px 38px 0px;
      }

      #zone-des-filtres{
        display: block;
      }
      
      #filtre{
        font-size: 1.875em;
      }

      #separateur-boutons-filtres{
        display: grid;
        grid-template-columns: 2fr 2fr;
        grid-template-rows: 105px 105px ;
        gap: 30px;
        margin: 23px 0px 60px 0px;
        width: 98%;
      }

      .boutons-des-filtres{
        font-size: 1.5em;
        border: 5px solid #D9D9D9;
        border-radius: 60px; 
        height: 90px;
        width: 100%;
      }
        
      #familial{
        width: 100%;
      } 
        
      #animauxautorises{
        width: 100%;
      }
      
      button{
        margin-right: 0px;
      }
    
      .fa-info{
        font-size: 0.8em;
        border: 3px solid #D9D9D9;
        border-radius: 40px;
        margin: 0px 10px 10px 10px;
        padding: 11px 20px 11px 20px;
      } 
      
      #cartes-hebergements-et-populaires{
        flex-direction: column-reverse;
        width: 100%;
      }

      #cartes-hebergements-et-populaires h2{
        font-size: 2em;
      }

      #cartes-hebergements-et-populaires p{
        font-size: 1.6em;
      }
     
      #bloc-populaires{
        margin: 0px 0px 30px 0px;
        /* padding: 8px 50px 50px 55px; */
        border-radius: 0px;
        width: 100%;
        height: auto;
      }

      .disposition-cartes-populaires{
        flex-direction: column;
      }

      .cartes-populaires a {
        width: 92%;
        height: auto;
      }
    
      #bloc-populaires h1{
        padding-bottom: 20px;
      }
         
      .cartes-populaires{
        border-radius: 40px; 
      }
    
      .cartes-populaires img{
        width: 40%;
        height: 350px;
        object-fit: cover;
        border: 11px solid #FFFFFF;
        border-radius: 40px 0px 0px 40px;
      }
    
      .informations-populaires h2{
        margin: 0px;
        padding: 35px 0px 8px 25px;
      }
    
      .informations-populaires p{
        margin:0px;
        padding: 0px 0px 2px 25px;
      }
    
      .cartes-populaires a{
        text-decoration: none;
        display: flex;
      }

      .fa-star{
        font-size: 2em;
      }
      
      .etoiles-populaires{
        left: 25px;
        bottom: 35px;
      }

      .disposition-cartes-hebergements{
        flex-direction: column;
        padding-left: 15px;
      }

      #bloc-hebergements{
        margin: 0px 0px 40px 0px;
        /* padding: 0px 55px 50px 55px; */
        background-color: #FFFFFF;     
        border-radius: 40px;
        max-width: 100%;
        height: auto;
      }
    
      #bloc-hebergements h1{
        padding-left: 15px;
      }
    
      .cartes-hebergements{
        border-radius: 40px;
        margin-bottom: 30px;
        width: 98%;
      }
    
      .cartes-hebergements img{
        width: 100%;
        height: 300px;
        object-fit: cover;
        border: 11px solid #FFFFFF;
        border-radius: 40px 40px 0px 0px;
      }
    
      .informations-hebergements{
        text-decoration: none;
        padding: 0px 0px 23px 30px;
      }
    
      .informations-hebergements h2, .informations-hebergements p{
        margin: 0px;
        padding-bottom: 10px;
      }

      .cartes-hebergements a{
        text-decoration: none;
      }
    
      #afficher-plus{
          display: none;
      }

      .disposition-cartes-activites{
        flex-direction: column;
        padding-left: 15px;
      }

      #marseille-a-la-ligne{
        display: block;
        padding-bottom: 10px;
      }
      
      #bloc-activites{
        margin: 0px 0px 30px 0px;
        padding: 0px 35px 50px 35px;
        border-radius: 40px;
        width: 100%;
        height: auto;
      }
    
      #bloc-activites h1{
        padding-left: 15px;
      }
    
      .cartes-activites{
        border-radius: 40px;
        margin-bottom: 60px;
        width: 98%;
        font-size: 2.6em;
      }
    
      .cartes-activites img{
        width: 100%;
        height: 350px;
        object-fit: cover;
        border-radius: 40px 40px 0px 0px;
      }
    
      .cartes-activites a{
        text-decoration: none;
      }
    
      .informations-activites{
        padding: 10px 0px 0px 30px;
      }
    
      .informations-activites h2{
        padding-bottom: 25px;
        font-size:0.850em;
      }       

      #pied-de-page{
        flex-direction: column;
        width: 100%;
      }

      .bloc-pied-de-page{
        padding: 20px 0px 0px 20px;
      }

      #pied-de-page h1{
        font-size: 2.6em;
      }

      .bloc-pied-de-page li{
        font-size: 1.7em;
      }

    } 